<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>スレッド一覧</h2>
			<p>スレッド検索</p>
			<%= form_tag(topics_path, method: "get") do %>
			 <%= select_tag :area, options_for_select(Topic.areas), :prompt => "地域選択" %>
			  <%= submit_tag '検索' %>
			<% end %>
			<table class="table">
				<%#= @topic.user.name %>
				<% @topics.each do |topic| %>
				<thead>
					<tr>
						<th>名前</th>
						<th>投稿日</th>
						<th>タイトル</th>
						<th>コメント</th>
						<th>性別</th>
						<th>スタイル</th>
						<th>地域</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= link_to topic.user.name, user_path(topic.user.id) %></td>
						<td><%= topic.created_at.strftime('%Y/%m/%d %H:%M') %></td>
						<td><%= topic.title %></td>
						<td><%= link_to_unless_current truncate(topic.comment), topic_path(topic) %>
						</td>
						<td><%= topic.user.sex %></td>
						<td><%= topic.user.style %></td>
						<td><%= topic.area %></td>
						<!-- カレントユーザーなら記事消せる -->
						<% if user_signed_in? && topic.user.id == current_user.id %>
						<td><%= link_to '削除', topic_path(topic), method: :delete, "data-confirm" => "削除しますか？" %></td>
						<td><%= link_to "編集", edit_topic_path(topic) %></td>
						<% end %>
					</tr>
				</tbody>
				<% end %>
			</table>
			<%= paginate @topics, class: "paginate" %>
		</div>
	</div>
</div>
