<div class="container">
    <div class="row">
        <div class="col-sm-8 col-lg-offset-2">
        <%= form_for(@contact) do |f| %>
            <!-- <h3>タイトル</h3>
            <%= f.text_field :title %> -->
            <h3>本文</h3>
            	<% if @contact.errors.any? %>
			    	<%= @contact.errors.count %>件のエラーが発生しました
			    	<% @contact.errors.full_messages.each do |message| %>
			    		<%= message %>
			        <% end %>
			    <% end %>
            <%= f.text_area :coment, :size => "100*" %>
            <%= f.submit "送信" %>
            <% if current_user %>
             <table class="table">
             	<thead>
             		<tr>
             			<!-- <th>名前</th> -->
						<th>投稿日</th>
						<!-- <th>タイトル</th> -->
						<th>本文</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @contacts.each do |c| %>
					<tr>
						<!-- <td><%= c.user.name %></td> -->
						<td><%= c.created_at.strftime('%Y/%m/%d %H:%M') %></td>
						<!-- <td><%= c.title %></td> -->
						<td><%= c.coment %></td>
						<td><%= link_to "詳細", contact_path(c.id) %></td>
						<td><%= link_to '削除', contact_path(c.id), method: :delete, "data-confirm" => "削除しますか？" %></td>
					</tr>
					<% end %>
				</tbody>
    		</table>
    		<% end %>
    	<% end %>
        <%#= link_to "問い合わせ一覧", contact_path %>
        <% if current_user.admin %>
	        <table class="table">
	        	<% @contacts.each do |c| %>
					<thead>
						<tr>
							<th>名前</th>
							<th>投稿日</th>
							<!-- <th>タイトル</th> -->
							<th>本文</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= link_to c.user.name,  contact_path(c.user.id) %></td>
							<td><%= c.created_at.strftime('%Y/%m/%d %H:%M') %></td>
							<!-- <td><%= c.title %></td> -->
							<td><%= c.coment %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
        <% end %>
    	</div>
    </div>
    <!-- <div class="pull-right">
		<%= link_to '戻る', :back %>
	</div> -->
	<%= paginate @contacts, class: "paginate" %>
</div>