<!DOCTYPE html>
<html>
  <head>
    <title>Surfers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
      <header class="site-header">
          <nav>
            <div class="container">
              <div class="row">
                <div class="col-xs-2">
                  <ul>
                    <li><%= link_to_unless_current "スレッド一覧", topics_path%></li>
                  </ul>
                </div>
                <div class="col-xs-2">
                  <ul>
                   <li><%= link_to_unless_current "問い合わせ", new_contact_path %></li>
                 </ul>
               </div>
               <div class="col-xs-2">
                  <ul>
                    <li><%= link_to_unless_current "ログイン",  new_user_session_path %></li>
                  </ul>
                </div>
                <div class="col-xs-2">
                  <ul>
                    <% if user_signed_in? %>
                      <li><%= link_to_unless_current "My page", user_path(current_user) %></li>
                    <% end %>
                    </ul>
                </div>
                <div class="col-xs-2">
                  <ul>
                    <li><%= link_to_unless_current "新規登録",  new_user_registration_path %></li>
                  </ul>
                </div>
                <div class="col-xs-2">
                  <ul>
                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </div>
                <div class="col-xs-2">
                  <li><%= link_to "このサイトについて", static_page_index_path %></li>
              </div>
            </div>
          </nav>
      </header>
      <main>
        <div class="wrap">
          <%= yield %>
        </div>
      </main>
    <footer>
       <div class="container">
          <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6">

                  <div class="text-center">
                    Copyright © 2005 ○○○○ All Rights Reserved.
                  </div>
                </div>
                <div class="col-xs-3">
              <br>
              <div class="pull-right">
                <button class="btn btn-danger"><%= link_to 'BACK', :back %></button>
              </div>
            </div>
          </div>
        </div>
    </footer>
  </body>
</html>