<!DOCTYPE html>
<html>
  <head>
    <title>Surfers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
      <header>
          <nav>
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <ul>
                    <li><%= link_to_unless_current "スレッド一覧", topics_path%></li>
                    <li><%#= link_to_unless_current "スレッド投稿", new_topic_path %></li>
                    <li><%#= link_to_unless_current "スレッド編集",  edit_topic_path(1) %></li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul>
                    <li><%= link_to_unless_current "問い合わせ", new_contact_path %></li>
                    <li><%= link_to_unless_current "ログイン",  new_user_session_path %></li>
                    <li><%#= link_to_unless_current "Chat", topic_chats_path %></li>
                  </ul>
                </div>
                <div class="col-lg-4">
                  <ul>
                  <% if user_signed_in? %>
                  <li><%= link_to_unless_current "My page", user_path(current_user) %></li>
                  <% end %>
                  <%# if user_signed_in? %>
                  <li><%= link_to_unless_current "新規登録",  new_user_registration_path %></li>
                  <%# end %>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </div>
                <%#= form_for (@topic_a) do |f| %>
                <%#= f.select :area, options_for_select(Topic.areas),{} %>
                <%#= f.submit "検索" %>
                <%# end %>
              </div>
            </div>
          </nav>
      </header>
      <main>
        <div class="wrap">
          <%= yield %>
        </div>
      </main>
    <footer>
       <div class="container">
          <div class="row">
            <div class="center-block">
              <%= link_to "このサイトについて", static_page_index_path %>
              <div class="pull-right">
                 <button class="btn btn-danger"><%= link_to 'BACK', :back %></button>
              </div>
            </div>
          </div>
      </div>
    </footer>
  </body>
</html>